body {
  margin: 0;
}

header {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  margin: 0;
}

.trybewarts-header-logo {
  height: 70px;
  margin: 5px 0 7px 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.trybewarts-login input , .trybewarts-login button {
  height: 30px;
  border-radius: 10px;
  border: 0;
  align-content: center;
  padding: 5px;
  margin: 3px;
}

.entrar {
  width: 120px;
  font-size: medium;
}

main {
  margin: 50px 50px 0;
  display: flex;
}


#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  justify-content: flex-end;
  align-items: center;
}

.box input {
  display: inline-block;
  flex-direction: column;
  width: 30%;
}

.requerimento {
  display: flex;
  flex-direction: row;
  width: 30%;
}

#familia-conteudo {
  display: flex;
  flex-flow: row wrap;
}

#familia {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

#conteudo {
  display: flex;
  flex-direction: column;
}

#checkContent {
  flex-flow: row wrap;
}

#submit-btn {
  background-color: blue;
  color: white;
  font-size: 30px;
  height: 60px;
  margin: 10px 50px 25px 50px;
}

p #direitos {
  display: flex;
  flex-direction: row;
}

input #checkContent {
  flex-direction: row;
}

#label-rate {
  margin: 15px 0;
}

input .rate {
  display: flex;
  flex-flow: row wrap;
}

footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  border: 1px solid black;
  background-color: grey;
  color: white;
}
