body {
  margin: 0;
}

header {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  margin: 0;
}

.trybewarts-header-logo {
  height: 70px;
  margin: 5px 0 7px 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.trybewarts-login input , .trybewarts-login button {
  height: 30px;
  border-radius: 10px;
  border: 0;
  align-content: center;
  padding: 5px;
  margin: 3px;
}

.entrar {
  width: 120px;
  font-size: medium;
}

.formulario-main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 700px;
}

.box input {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.requerimento {
  display: flex;
  flex-direction: row;
  width: 30%;
}

#submit-btn {
  background-color: blue;
  color: white;
  font-size: 30px;
  height: 60px;
}

footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  border: 1px solid black;
}

p #direitos {
  display: flex;
  flex-direction: row;
}
